name: Test and update version

on:
  push:
    branches:
      - main
    paths:
      - 'emodpy_malaria/**'
      - 'pyproject.toml'

  # Allows manual run from the Actions tab
  workflow_dispatch:

permissions:
  contents: write # Allow writing to the repository (e.g., commits, pushes)

jobs:
  run-tests01:
    name: Run unit and container tests
    uses: ./.github/workflows/tests_unit_container.yml

  run-tests02:
    name: Run COMPS tests
    uses: ./.github/workflows/tests_comps.yml
    secrets:
      COMPS_USER: ${{ secrets.COMPS_USER }}
      COMPS_PASSWORD: ${{ secrets.COMPS_PASSWORD }}

  bump-version:
    name: Bump patch version
    runs-on: ubuntu-latest
    needs: [run-tests01, run-tests02]
    steps:
      - name: Bump version
        uses: callowayproject/bump-my-version@v1
        with:
          args: patch -vv
